.team-section {
    position: relative;
    background: linear-gradient(180deg, #111A94 , #257BFC 90%);
    color: white;
    text-align: center;
    padding: 40px 0px;
}

.team-title {
    margin-top: 150px;
    font-size: 48px;
    margin-bottom: 40px;
    color: #ffff;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
    position: relative;
    translate: 0 70px;
}
@media (max-width: 768px) {
    .team-title {
        font-size: 36px;
        margin-top: 10px;
    }
}

@keyframes move1 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes move2 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
  }

  .team-photo {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transform: translateY(50%);
}
.team-swiper {
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1 !important;
    flex-wrap: wrap;
}

.team-card {
    background-color: white;
    color: #333;
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    text-align: center;
    flex: 1 !important;

}
@media (max-width: 768px) {
    .team-card {
        max-width: 300px;
        padding: 10px;
    }
}
@media (max-width: 370px) {
    .team-card {
        max-width: 250px;
        padding: 10px;
    }
    
.team-photo {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transform: translateY(50%);
}
}


.team-name {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 10px;
    color: #257BFC;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}
.team-surname { font-weight: bold;
    font-size: 48px;
    margin-bottom: 10px;
    color: #257BFC;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    margin-top: -10px;
}
@media (max-width: 768px) {
    .team-name {
        font-size: 36px;
    }
}
.team-role {
    font-size: 20px;
    color: #666;
    padding-bottom: 5px; ;
}
@media (max-width: 768px) {
    .team-role {
        font-size: 16px;
    }
}
.swiper-nav {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 10;
}

.swiper-button-prev,
.swiper-button-next {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 30%;
    background: none;
    border: none;
    color: none;
}

.swiper-button-prev{
    margin-left: -6.5%;
}
.swiper-button-next{
    margin-right: -6.5%;
}

@media (max-width: 480px) {
    .swiper-button-prev{
        margin-left: -8%;
        margin-top:100%
    }
    .swiper-button-next{
        margin-right: -8%;
        margin-top:100%
    }
}

@media (max-width: 390px) {
    .swiper-button-prev{
        margin-left: -10%;
        margin-top:120%
    }
    .swiper-button-next{
        margin-right: -10%;
        margin-top:120%
    }
}
@media (max-width: 320px) {
    .swiper-button-prev{
        margin-left: -11%;
        margin-top:130%;
    }
    .swiper-button-next{
        margin-right: -12%;
        margin-top:130%;
    }
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
    transform: scale(1.1);
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    display: none;

}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    display: none;
}
.devider hr {
    width: 60% !important;
    height: 12px;
    align-self: center;
}
.team-card{
    border: 3px solid #111A94;
}
@media (max-width: 768px) {
    .team-card{
        border: 2px solid #111A94;
    }
}
    .team-card{
        display: flex;

        flex-direction: column;
        width: 350px;
        height:350px;
        justify-content: flex-end;
    }
    .bsball1{ 
        max-width: 60px;
        max-height: 60px;
        left: 3px;
        top: 40%;
        position: absolute !important;
        animation: move2 3s ease-in-out infinite;
    }
    .bsball2{
        position: absolute !important;
        left: 9%;
        top: 28%;
        animation: move1 3s ease-in-out infinite;
    }
    .bsball3{ 
        position: absolute !important;
        left: 97%;
        top: 40%;
        animation: move2 3s ease-in-out infinite;
    }
    .bsball4{ 
        max-width: 60px;
        max-height: 60px;
        position: absolute !important;
        left: 90%;
        top: 30%;
        animation: move1 3s ease-in-out infinite;
    }
    @media (max-width: 768px) {
        .bsball1{ 
            max-width: 45px;
            max-height: 45px;
            left: 3px;
            top: 55%;
            position: absolute !important;
            animation: move2 3s ease-in-out infinite;
        }
        .bsball2{ 
            max-width: 60px;
            max-height: 60px;
            left: -3%;
            animation: move1 3s ease-in-out infinite;
        }
        .bsball3{ 
            max-width: 60px;
            max-height: 60px;
            position: absolute !important;
            left: 95%;
            top: 30%;
            animation: move2 3s ease-in-out infinite;
        }
        .bsball4{ 
            max-width: 45px;
            max-height: 45px;
            position: absolute !important;
            left: 95%;
            top: 65%;
            animation: move1 3s ease-in-out infinite;
        }
    }
.wave-up{ 
    position: relative;
    z-index: 3;
}
@media (min-width: 2000px) {
    .wave-up{ 
        width: 100%;
    }
    .swiper-button-prev{
        margin-left: -50%;
    }
    .swiper-button-next{
        margin-right: -50%;
    }
}
